client/target/*.*
client/target/maven-archiver/*.*
server/bin/*.*
server/target/*.*
server/target/classes/*.*
server/target/maven-archiver/pom.properties
server/WebContent/*.*
server/WebContent/WEB-INF/lib/*.*
*.class