@charset "UTF-8";
/**
 *
 * @authors ¶­Ïè
 * @date    2014-11-06 18:13:12
 */


body{
	background:#fff;
}

.center{
	position:relative;
	width:999px;
	margin:0 auto;
}
.center span{
	position:absolute;
	left:-157px;
	top:127px;
}

.footer{
	width:100%;
	height:53px;
	border-top:1px solid #bd1a20;
}
.f-c{
	width:1000px;
	height:53px;
	line-height:53px;
	text-align:center;
	color:#5e5e5e;
	font-size:12px;
	margin:0 auto;
}